<launch>
	
  <param name="naio01_server_port" type="int" value="5555" />

	  <!-- Launch the naio01 server node -->
  <node name="joy_node" pkg="joy" type="joy_node"/>
	  <!-- Launch the naio01 client node to send command from joystick -->
  <node name="Naio01JoyClient" pkg="oz440_gazebo" type="Naio01JoyClient"/>

</launch>
